Repository JoinMarket-Org/joinmarket-clientserver, pull requests merged in 2022-05, with the labels that each got.

#1269 docs: link to latest version of start-dn.py script
  docs/onion-message-channels.md
Labels: documentation

#1260 Allow specifiying options for taker/schedule API endpoint
  docs/api/wallet-rpc.yaml
  jmclient/jmclient/wallet_rpc.py
Labels: RPC-API

#1268 update TODO document as of 0.9.6
  docs/TODO.md
Labels: documentation

#1266 Display the account xpub in QT interface
  jmclient/jmclient/__init__.py
  jmclient/jmclient/cryptoengine.py
  scripts/joinmarket-qt.py
Labels: Joinmarket-Qt
